/* index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6;
  color: #1f2937;
  line-height: 1.6;
}

button {
  cursor: pointer;
  font-family: inherit;
}







:root {
  --bg-dark: #121212;
  /* Asosiy qora fon */
  --bg-card: #1E1E1E;
  /* Kartalar foni */
  --bg-input: #2D2D2D;
  /* Inputlar foni */
  --primary-orange: #FF8C00;
  /* Asosiy to'q sariq rang */
  --text-white: #FFFFFF;
  /* Oq matn */
  --text-grey: #B0B0B0;
  /* Kulrang matn */
  --danger: #FF4444;
  /* O'chirish rangi */
}